{% extends 'base.html.twig' %}

{% block title %}
	Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<div class="col col-xl-5 mx-auto mt-5 mb-5 bg-light">
		<form method="post">
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{ message }}</div>
				{% endfor %}
			{% endfor %}
			<div class="border border-danger shadow-lg mb-5 mt-5 ">
				<div class="col bg-white">
					<div class="row justify-content-center">
						<img src="{{ asset('build/images/logo/Logo-cntippee100.jpg') }}" alt="logo bibliotippee" style="width:100px; height:100px; align:center; margin: 25px;"/>
					</div>
				</div>
				<div style="background-color: #d0d0d0;">
					<div class="container py-3 ">
						<h2 class="text-center mb-3">Réinitialisation du mot de passe</h2>
						{{ form_start(resetPassword)}}
						{{ form_row(resetPassword.password)}}
						<button type="submit" class="btn btn-lg
																												btn-success btn-block
																												center-block my-3" style="width:200px;">Réinitialiser</button>
						{{ form_end(resetPassword)}}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
