{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="col col-xl-5 mx-auto mt-5 mb-5 bg-light">
        <div class="col bg-white"  >
            <div class="row justify-content-center">
                <img src="{{ asset('build/images/logo/Logo-cntippee100.jpg') }}" 
                        alt="logo bibliotippee" 
                        style="width:100px; height:100px; align:center; margin: 25px;"
                        />
            </div>
        </div>
        <div style="background-color: #d0d0d0;">
            <h2 class="text-center font-weight-normalp-3">Inscription</h2>

            {{ form_errors(registrationForm) }}
            <div class="col p-3">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-md btn-success mb-3">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
