{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="col col-xl-5 mx-auto mt-5 mb-5 bg-light">
		<form method="post">
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{ message }}</div>
				{% endfor %}
			{% endfor %}
			<div class="border border-danger shadow-lg mb-5 mt-5 ">
				<div class="col bg-white">
					<div class="row justify-content-center">
						<img src="{{ asset('build/images/logo/Logo-cntippee100.jpg') }}" alt="logo bibliotippee" style="width:100px; height:100px; align:center; margin: 25px;"/>
					</div>
				</div>
				<div style="background-color: #d0d0d0;">
					<h2 class="text-center font-weight-normalp-3">Inscription</h2>
					<div class="col p-3">
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.firstName) }}
						{{ form_row(registrationForm.lastName) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.plainPassword) }}
						{{ form_row(registrationForm.agreeTerms) }}

						<button type="submit" class="btn btn-lg
																					btn-success btn-block
																					center-block my-3" style="width:200px;">S'inscrire</button>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
