{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container col col-sm-10 col-lg-4 bg-body-secondary mb-5">
        <h2 class="text-center m-3">Inscription</h2>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo, {label: 'Pseudo :'}) }}
            {{ form_row(registrationForm.firstName, {label: 'Prénoms :'}) }}
            {{ form_row(registrationForm.lastName, {label: 'Nom :'}) }}
            {{ form_row(registrationForm.email, {label: 'Email :'}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="d-flex justify-content-center mt-3 ">
                <button type="submit" class="btn btn-md btn-success m-3">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
