<header class="m-2 py-3 bg-white border-bottom border-left">
	<div class="container-fluid d-flex flex-wrap justify-content-center">
		<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto
								        link-body-emphasis text-decoration-none">
			<img src="{{ asset('build/images/logo/Logo-cntippee100.jpg') }}" alt="logo bibliotippee" width="50" height="50" class="me-2"/>
			<span class="fs-4">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">BiblioTIPPEE</font>
				</font>
			</span>
		</a>
		<form class="col-12 col-lg-auto mb-3 mb-lg-0 my-0 m-3" role="search">
			<input type="search" class="form-control" placeholder="Je recherche un document..." aria-label="Recherche">
		</form>
		<div class="text-end">
			{% if app.user %}
				<a href="{{ path('app_logout') }}" class="btn btn-danger me-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Se déconnecter</font>
					</font>
				</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-outline-success me-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">S'Identifier</font>
					</font>
				</a>
				<a href="{{ path('app_register') }}" class="btn btn-success me-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">S'inscrire</font>
					</font>
				</a>
			{% endif %}
		</div>
	</div>
</header>
<nav class="pill-nav
						m-2 py-3 border-bottom border-left sticky-top
			 			d-flex justify-content-center
			 			bg-success
					">
	<div>
		<ul class="nav me-auto">
			<li class="nav-item ">
				<a href="{{path('app_home')}}" class="nav-link link-body-emphasis px-2 ">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							<i class="bi bi-chevron-right">
								Accueil
							</i>
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_document') }}" class="nav-link link-body-emphasis px-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							<i class="bi bi-chevron-right">
								Catalogue de Documents
							</i>
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_thematique') }}" class="nav-link link-body-emphasis px-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							<i class="bi bi-chevron-right">
								Section thématique
							</i>
						</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="{{ path('app_contact') }}" class="nav-link link-body-emphasis px-2">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							<i class="bi bi-chevron-right">
								Contactez-nous
							</i>
						</font>
					</font>
				</a>
			</li>
		</ul>
	</div>
</nav>
