{% extends 'base.html.twig' %}

{% block title %}WordSearch index{% endblock %}

{% block body %}
    <h1>WordSearch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>WordKey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for word_search in word_searches %}
            <tr>
                <td>{{ word_search.id }}</td>
                <td>{{ word_search.wordKey }}</td>
                <td>
                    <a href="{{ path('app_word_search_show', {'id': word_search.id}) }}">show</a>
                    <a href="{{ path('app_word_search_edit', {'id': word_search.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_word_search_new') }}">Create new</a>
{% endblock %}
