{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
<div class="container">
    <div class="col col-xl-5 mx-auto mt-3 mb-3 bg-light">
        {{ form_errors(form) }}
        {% if errorMsg is defined %}
            <div class="alert alert-warning text-center">{{ errorMsg }}</div>
        {% endif %}
        {% if successMsg is defined %}
            <div class="alert alert-success text-center">{{ successMsg }}</div>
        {% endif %}
        
    </div>
    <div class="col col-xl-5 mx-auto mt-3 mb-3 bg-light">
        <div class="col bg-white"  >
            <div class="row justify-content-center">
                <img src="{{ asset('build/images/logo/Logo-cntippee100.jpg') }}" 
                        alt="logo bibliotippee" 
                        style="width:100px; height:100px; align:center; margin: 25px;"
                        />
            </div>
            
        </div>

        <div style="background-color: #d0d0d0;">
            <h5 class="text-center p-3">Contactez-nous</h5>
            <div class="col p-3">
            {{ form_start(form) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.email) }}
                {{ form_row(form.content) }}
            {{ form_end(form) }}  
            </div>
        </div>
    </div>
</div>
{% endblock %}
