{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <section class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nos documents numériques</h1>
                    <p class="lead fw-normal text-white-50 mb-0">L'information toujours disponibles</p>
                </div>
            </div>
    </section>
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    
        {% for document in documents %}
                <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Download badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Download</div>
                            <!-- favori badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; left: 0.5rem">Favorite</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- document details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Document name-->
                                    <h5 class="fw-bolder">Titre : {{ document.title }}</h5>
                                    <!-- Document author-->
                                    <h7 class="fw-bolder">Auteur : {{ document.author }}</h5>
                                    <!-- Document reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Document description -->
                                    <div>{{ document.description }}</div>
                                    <!-- Document dates -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="dateformat">Crée le {{ document.createdAt ? document.createdAt|date('d-m-Y') : 'Indefine' }}</div>
                                        <div class="dateformat">Publié le {{ document.publishAt ? document.publishAt|date('Y-m-d H:i:s') : 'Indefine' }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Document actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" 
                                    href="href="{{ path('app_document_show', {'id': document.id}) }}"">Voir plus</a></div>
                            </div>
                        </div>
                </div>
        {% else %}
                <div> colspan="11">Aucun document trouvé !</div>
        {% endfor %}
    </div>
</section>

{% endblock %}
