{% extends 'base.html.twig' %}

{% block title %}Détails du document{% endblock %}

{% block body %}
<p class = "display-5 text-center fw-bold 
    text-body-emphis mt-5 mb-5">Détails sur le document {{document.id}}</p>
<div class="row  g-2 py-1 mb-5 border bg-white">
        <div class=" col-10 col-sm-8 col-lg-6">
           {% if document.fileNameDocument  %}
                <img src="{{ vich_uploader_asset(document, 'imageDocument') }}" 
                    class="img-fluid rounded-start" 
                    alt="affiche {{ document.title }}" />
            
            {% else %}
                <img src="{{ asset('build/images/default/avatar-defaut.jpg')}}" 
                    class="card-img-top" alt="affiche {{document.imageDocument}}"/>
            {% endif %}
        </div>
        <div class="col-lg-6">
                <h4 class="display-10 fw-bold text-body-emphis lh-1 mb3">{{ document.title }}</h4>
                <p>Auteur : {{ document.author }}</p>
                <p >Description :</p>
                <p class="lead">{{ document.description }}</p>
                <p>Publié le : {{ document.publishAt ? document.publishAt|date('d-m-Y') : ' ' }}</p>
                <p>Archivé le : {{ document.publishAt ? document.createdAt|date('d-m-Y') : ' ' }}</p>
            </div>
        </div>
</div>
<div class="row text-center">
    <a href="{{ path('app_document_index') }}">Retour à la liste</a>
            {#  <a href="{{ path('app_document_open', {'id': document.id}) }}">Ouvrir</a>
                <a href="{{ path('app_document_download', {'id': document.id}) }}">Télécharger</a>
            #}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
