{% extends 'users.html.twig' %}

{% block title %}Mofication du profil de
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block body %}
	<div class="container-fluid col col-md-12">
		<div>
			<h2 class="mb-4">Modification du mot de passe de
				{{app.user.firstName}}
				{{app.user.lastName}}
			</h2>
		</div>
		<hr>
		{% for error in app.flashes('error') %}
			<div class="d-flex justify-content-between p-3 my-2 alert alert-danger" role="alert">

				{{ error }}
				<i class="bi bi-x-octagon"></i>
			</div>
		{% endfor %}
		{% for success in app.flashes('success') %}
			<div class="d-flex justify-content-between p-3 my-2 alert alert-succes" role="alert">

				{{ success }}
				<i class="bi bi-x-octagon"></i>
			</div>
		{% endfor %}
		<div class="col col-md-12 p-3">
			<form method="post" class="was-validated">
				<div class="form-group mb-3 mt-3">
					<label for="old_password">Ancien mot de passe :</label>
					<input type="password" class="form-control" id="old_password" name="old_password" required>
				</div>
				<div class="form-group mb-3 mt-3">
					<label for="new_password">Nouveau mot de passe :</label>
					<input type="password" class="form-control" id="new_password" name="new_password" required>
				</div>
				<div class="form-group mb-3 mt-3">
					<label for="confirm_password">Confirmer votre nouveau mot de passe :</label>
					<input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
				</div>

				<button class="btn btn-lg btn-primary mt-3 mb-3" type="submit">Valider</button>

			</form>
		</div>
	{% endblock %}
